body {
    font-family: "Arial", Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: black;
    display: grid;
    margin: 15px;
}

table.tmc tr {
    padding: 5px;
    border-spacing: 7px 11px;
}


tbody tr:nth-child(odd) {
    background-color: #C9E4F6;/* фон нечетных строк */
    font-color: black;
    font-size: 20px;

}

tbody tr:nth-child(even) {
    background-color: #B4DAF2;/* фон четных строк */
    font-color: black;
    font-size: 20px;
}