<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
    <title>Инвентаризация PM&HM</title>
</head>
<body>
<p th:text="${#httpServletRequest.remoteUser}"></p>
<a href="/search">Найти ТМЦ</a>
<h3>Добавить ТМЦ:</h3>
{{#error}}
    <strong style="color: rgb(20, 85, 162); font-size: 40px;">{{error}}</strong>
{{/error}}

    <div>
        <form method="post">
            <input type="text" name="text" autofocus placeholder="Введите наименование ТМЦ" />
            <input type="text" name="sn" placeholder="Введите серийный номер ТМЦ" />
            <td><select name="owner">
                {{#list}}<option >{{.}}</option>{{/list}}
            </select></td>
            <button type="submit">Записать!</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
<p>Список ТМЦ:</p>
</br>
<table class="tmc">
    <thead>
    <tr>
        <th>ID ТМЦ</th><th>Наименование ТМЦ</th><th>Серийный номер ТМЦ</th><th>За кем числится</th>
    </tr>
    </thead>
    <tbody>
    {{#messages}}
    <tr>
        <td>{{id}}</td>
        <td><span>{{text}}</span></td>
        <td><i>{{sn}}</i></td>
        <td>{{owner}}</td>
        <td>
        <form action="/remove" method="post" name="remove" onsubmit="return confirm('Это удалит все записи о ТМЦ с этим серийным номером {{sn}} из базы данных. Вы уверены?');">
            <input type="submit" value="Удалить ТМЦ" />
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="hidden" name="sn" value="{{sn}}"/>
        </form>
        </td>
    </tr>
    {{/messages}}
    </tbody>
</table>
<form action="/logout" method="post">
    <input type="submit" value="Выйти"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>
</body>
</html>