<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
    <title>Ваши ТМЦ</title>
</head>
<body>
<div class="menu">
<div class="greetings">
    <p th:each="grt : ${greet}">Вы вошли как <strong th:text="${grt}"></strong></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div class="navi">
        <a sec:authorize="hasRole('ROLE_INVENTADMIN')" href="/main">Добавить ТМЦ</a><a style="padding-left:4.00em;" href="/search">Поиск ТМЦ</a>
</div>
<h3 style="margin-bottom: 23px;">Список ТМЦ закреплённых за Вами:</h3>
<div id="er" th:if="${error}">
    <div id="popup">
    <strong style="color: rgb(20, 85, 162);" th:each="err : ${error}" th:text="${err}"></strong>
    <p style="cursor: pointer;" onclick="document.getElementById('er').style.display='none';" >Закрыть</p>
    </div>
</div>
</div>

<div class="content">
<table class="sortable">
    <thead>
    <tr>
        <th>ID</th><th>Наименование</th><th>Инв. №</th><th>Сер. №</th><th>Кто назначил</th><th>Подтвердить</th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/}" method="post" enctype="multipart/form-data"
          onsubmit="return confirm('Вы уверены, что все перечисленные ТМЦ у Вас есть в наличии?');">
    <tr th:each="mess : ${messages}">
        <td th:text="${mess.id}"></td>
        <td th:text="${mess.text}"><span></span></td>
        <td th:text="${mess.invid}"></td>
        <td th:text="${mess.sn}"><i></i></td>
        <td th:text="${mess.author}"><i></i></td>
        <td>
                <input type="checkbox" name="checkboxName" id="checkbox_check" />
                <input type="hidden" name="checkboxId" th:value="${mess.id}" />
        </td>
        <input type="hidden" name="sn" th:value="${mess.sn}"/>
        <input type="hidden" name="id" th:value="${mess.id}"/>
        <input type="hidden" name="text" th:value="${mess.text}"/>
        <input type="hidden" name="invid" th:value="${mess.invid}"/>
        <input type="hidden" name="author" th:value="${greet}"/>

    </tr>
    <tr style='display: contents;'>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style='display: flex;'>
        <input type="checkbox" id="select-all" />
        <input type="submit" value="Подтвердить наличие" style='display: block; margin-left: auto;' />
            <form enctype="multipart/form-data">
                <label>
                    <img src="/crt.png" title="Выбрать файл сертификата" style='display: block; margin-left: auto; margin-right: auto;' />
                    <input type="file" name="file" accept="application/pkix-cert" style="display:none" />
                </label>
            </form>
        </td>
    </tr>
    </form>
    </tbody>
</table>
</div>
<script th:inline="javascript">
document.getElementById('select-all').onclick = function() {
  var checkboxes = document.getElementsByName('checkboxName');
  for (var checkbox of checkboxes) {
    checkbox.checked = this.checked;
  }
}
</script>
</body>
</html>