<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
    <title>Инвентаризация PM&HM</title>
    <script th:src="sorttable.js"></script>
</head>
<body>
<div class="menu">
<div class="greetings">
    <p th:each="grt : ${greet}">Вы вошли как <strong th:text="${grt}"></strong></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div class="navi">
<a sec:authorize="hasRole('ROLE_INVENTADMIN')" href="/main">Добавить ТМЦ</a><a style="padding-left:4.00em;" href="/">Мои ТМЦ</a>
</div>
<h3>Найти ТМЦ:</h3>
<div id="er" th:if="${error}">
    <div id="popup">
        <strong style="color: rgb(20, 85, 162);" th:each="err : ${error}" th:text="${err}"></strong>
        <p style="cursor: pointer;" onclick="document.getElementById('er').style.display='none';" >Закрыть</p>
    </div>
</div>
<form method="post" th:action="@{/search}" style="margin-left: 10px;">
    <input type="text" name="searchsn" autofocus maxlength = "30" th:value="${ssn}" placeholder="Серийный номер или наименование" size="30">
    <button type="submit">Найти</button>
</form>
</div>
<div class="content">
<table class="sortable">
    <thead>
    <tr>
        <th>ID</th><th>Наименование</th><th>Инв. №</th><th>Сер. №</th><th>Владелец</th><th>Автор</th><th></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="mess : ${messages}">
            <td th:text="${mess.id}"></td>
            <td th:text="${mess.text}"><span></span></td>
            <td th:text="${mess.invid}"></td>
            <td th:text="${mess.sn}"><i></i></td>
            <td style="display: flex; padding-bottom: 0; padding-top: 7px;">
                <form action="#" th:action="@{/updates}" method="post" name="update" onsubmit="return confirm('Вы действительно хотите изменить владельца?');">
                    <select name="owner" >
                        <option selected th:text="${mess.owner}"></option>
                        <option th:each="lst : ${list}" th:text="${lst}" sec:authorize="hasRole('ROLE_INVENTADMIN')"></option>
                    </select>
                    <input type="submit" value="Изменить" sec:authorize="hasRole('ROLE_INVENTADMIN')" />
                    <input type="hidden" name="id" th:value="${mess.id}"/>
                    <input type="hidden" name="sn" th:value="${mess.sn}"/>
                    <input type="hidden" name="text" th:value="${mess.text}"/>
                    <input type="hidden" name="invid" th:value="${mess.invid}"/>
                    <input type="hidden" name="author" th:value="${greet}"/>
                </form>
                <form target="_blank" action="#" th:action="@{/hist}" method="post" name="hist">
                    <input type="submit" value="H" style="margin-left: 20px;" title="Просмостреть историю перемещения ТМЦ."/>
                    <input type="hidden" name="id" th:value="${mess.id}"/>
                    <input type="hidden" name="sn" th:value="${mess.sn}"/>
                    <input type="hidden" name="text" th:value="${mess.text}"/>
                    <input type="hidden" name="invid" th:value="${mess.invid}"/>
                    <input type="hidden" th:each="jour : ${journal}" th:value="${jour.newowner}"/>
                </form>

                <form target="_blank" action="#" th:action="@{/qrcode}" method="post" name="qrcode">
                    <input type="submit" value="QR" style="margin-left: 20px;" title="Просмостреть QR код."/>
                    <input type="hidden" name="id" th:value="${mess.id}"/>
                    <input type="hidden" name="sn" th:value="${mess.sn}"/>
                    <input type="hidden" name="text" th:value="${mess.text}"/>
                    <input type="hidden" name="invid" th:value="${mess.invid}"/>
                </form>
            </td>
            <td th:text="${mess.author}"><i></i></td>
            <td>
                <form th:action="@{/removes}" method="post" name="removes" sec:authorize="hasRole('ROLE_INVENTADMIN')" th:snd="${mess.sn}"
                      onsubmit="return confirm('Это удалит все записи о ТМЦ с серийным номером ' + this.getAttribute('snd') + ' из базы данных. Вы уверены?');"
                      enctype="multipart/form-data" >

                    <label>
                        <img src="/crt.png" title="Выбрать файл сертификата" style='vertical-align: sub; margin-left: auto; margin-right: auto;' />
                        <input type="file" name="file" accept="application/pkix-cert" style="display:none" />
                        <input type="submit" value="Удалить" style='vertical-align: super; margin-left: auto; margin-right: auto;'/>
                    </label>

                    <input type="hidden" name="sn" th:value="${mess.sn}"/>
                    <input type="hidden" name="id" th:value="${mess.id}"/>
                    <input type="hidden" name="text" th:value="${mess.text}"/>
                    <input type="hidden" name="invid" th:value="${mess.invid}"/>
                    <input type="hidden" name="author" th:value="${greet}"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>